@using MudBlazor
@using Marketplace.Components.Pages
@using static Marketplace.Components.Pages.Home

<div class="category-section">
        <div class="d-flex justify-space-between align-center mb-2">
            <MudText Typo="Typo.h6" Style="font-weight: 700;">Navrhované kategórie</MudText>
            <MudLink Href="#" Typo="Typo.body2" Style="color: #0081EC; text-decoration: none;">Zobraziť všetky</MudLink>
        </div>
        <div class="horizontal-scroll">
            @foreach (var category in Categories)
            {
                <div class="category-card mud-clickable" @onclick="() => OnCategoryClick.InvokeAsync(category)">
                <MudAvatar Class="category-icon-bg" Style="@($"background-color: {category.BackgroundColor};")">
                    @((MarkupString)category.IconSvg)
                </MudAvatar>
                <p class="category-text">@category.Name</p>
            </div>
            }
        </div>
    </div>

@code {
    [Parameter] public List<Category> Categories { get; set; } = new();

    [Parameter] public EventCallback<Category> OnCategoryClick { get; set; }
}
