@using MudBlazor
@inject NavigationManager NavigationManager

    <MudToolBar>
        <div class="d-flex justify-space-between align-center" style="width: 100%;">
            <div>
                <MudIconButton OnClick="@(() => OnMenuClick.InvokeAsync())">
                    <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 9H25M1 17H25M1 1H25" stroke="#0081EC" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </MudIconButton>
            </div>
            
            @* Center Content: Logo *@
            <div @onclick="GoToHome">
                 <svg width="163" height="32" viewBox="0 0 163 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.1 3L12.376 28.7296L12.025 29.129H7.29999L22.375 3H27.1Z" fill="white" />
                    <path d="M31 7.0545L18.4 29.129H13.45L26.05 7.0545H31Z" fill="white" />
                    <path d="M16.15 11.4093L5.875 29.129H1L11.275 11.4093H16.15Z" fill="white" />Add commentMore actions
                    <path d="M50.384 23H47.48L44.202 11.846V23H41.562V8.326H45.764L48.91 19.216L52.078 8.326H56.28V23H53.64V11.846L50.384 23ZM61.8145 15.476H59.3065C59.4385 14.442 59.6585 13.892 60.0765 13.386C60.8465 12.484 62.1885 12 63.9485 12C66.1485 12 67.6225 12.66 68.2165 13.914C68.5025 14.464 68.6125 15.168 68.6125 16.246V20.734C68.6125 22.01 68.6565 22.34 68.9645 23H66.3685L66.0605 22.01C64.9165 22.89 63.8605 23.286 62.6285 23.286C60.4505 23.286 58.6685 21.812 58.6685 20.008C58.6685 18.82 59.3725 17.808 60.6705 17.192C61.4625 16.796 62.5625 16.532 64.2125 16.334C65.4445 16.202 65.8845 15.916 65.8845 15.256C65.8845 14.442 65.0925 13.87 63.9265 13.87C62.6725 13.87 61.9025 14.442 61.8145 15.476ZM65.9945 18.842V17.368C65.4885 17.698 65.2245 17.786 64.3005 18.006C62.1005 18.534 61.4185 18.974 61.4185 19.854C61.4185 20.624 62.1665 21.152 63.2885 21.152C64.0805 21.152 64.8065 20.932 65.3345 20.514C65.8185 20.14 65.9945 19.7 65.9945 18.842ZM71.2708 12.286H73.9548V13.76C74.6808 12.616 75.5608 12.066 76.6168 12.066C76.8148 12.066 76.9688 12.066 77.3208 12.11V14.42C77.1448 14.398 76.9468 14.398 76.8588 14.398C75.0548 14.398 73.9548 15.608 73.9548 17.566V23H71.2708V12.286ZM81.6891 19.524V23H79.0051V8.326H81.6891V16.576L85.5831 12.286H88.7951L84.9231 16.334L89.3891 23H85.9791L83.0531 18.116L81.6891 19.524ZM100.317 18.27H92.485C92.683 20.14 93.607 21.152 95.125 21.152C96.181 21.152 96.951 20.69 97.435 19.788H100.207C99.569 21.944 97.611 23.286 95.169 23.286C91.979 23.286 89.735 20.954 89.735 17.654C89.735 14.288 91.847 12 94.949 12C98.227 12 100.251 14.354 100.317 18.27ZM92.551 16.51H97.545C97.347 14.948 96.467 14.068 95.037 14.068C93.673 14.068 92.771 14.948 92.551 16.51ZM105.37 12.286H107.394V13.98H105.37V19.414C105.37 20.228 105.414 20.47 105.59 20.69C105.766 20.932 106.14 21.064 106.58 21.064L107.328 21.042L107.548 21.02V23H105.634C104.644 23 104.446 22.978 104.072 22.824C103.346 22.538 102.95 22.032 102.796 21.24C102.708 20.822 102.686 20.382 102.686 19.414V13.98H101.19V12.286H102.686V8.722H105.37V12.286ZM109.384 12.286H112.068V13.694C112.882 12.484 113.762 12 115.126 12C117.832 12 119.79 14.398 119.79 17.698C119.79 20.976 117.898 23.286 115.192 23.286C113.872 23.286 113.058 22.824 112.068 21.526V26.586H109.384V12.286ZM114.598 14.134C112.97 14.134 111.936 15.498 111.936 17.676C111.936 19.744 112.992 21.152 114.532 21.152C116.028 21.152 117.04 19.766 117.04 17.698C117.04 15.586 116.05 14.134 114.598 14.134ZM122.017 8.326H124.701V23H122.017V8.326ZM130.07 15.476H127.562C127.694 14.442 127.914 13.892 128.332 13.386C129.102 12.484 130.444 12 132.204 12C134.404 12 135.878 12.66 136.472 13.914C136.758 14.464 136.868 15.168 136.868 16.246V20.734C136.868 22.01 136.912 22.34 137.22 23H134.624L134.316 22.01C133.172 22.89 132.116 23.286 130.884 23.286C128.706 23.286 126.924 21.812 126.924 20.008C126.924 18.82 127.628 17.808 128.926 17.192C129.718 16.796 130.818 16.532 132.468 16.334C133.7 16.202 134.14 15.916 134.14 15.256C134.14 14.442 133.348 13.87 132.182 13.87C130.928 13.87 130.158 14.442 130.07 15.476ZM134.25 18.842V17.368C133.744 17.698 133.48 17.786 132.556 18.006C130.356 18.534 129.674 18.974 129.674 19.854C129.674 20.624 130.422 21.152 131.544 21.152C132.336 21.152 133.062 20.932 133.59 20.514C134.074 20.14 134.25 19.7 134.25 18.842ZM146.589 19.216H149.163C148.789 21.746 146.941 23.286 144.279 23.286C141.199 23.286 138.999 20.954 138.999 17.676C138.999 14.398 141.199 12 144.235 12C146.743 12 148.459 13.408 149.053 15.916H146.435C146.083 14.728 145.379 14.134 144.301 14.134C142.761 14.134 141.749 15.564 141.749 17.698C141.749 19.832 142.739 21.152 144.323 21.152C145.533 21.152 146.325 20.47 146.589 19.216ZM161.29 18.27H153.458C153.656 20.14 154.58 21.152 156.098 21.152C157.154 21.152 157.924 20.69 158.408 19.788H161.18C160.542 21.944 158.584 23.286 156.142 23.286C152.952 23.286 150.708 20.954 150.708 17.654C150.708 14.288 152.82 12 155.922 12C159.2 12 161.224 14.354 161.29 18.27ZM153.524 16.51H158.518C158.32 14.948 157.44 14.068 156.01 14.068C154.646 14.068 153.744 14.948 153.524 16.51Z" fill="#F7F7F7" />
                </svg>
            </div>

            @* Right Icon: Search *@
            <div>
                <MudIconButton Icon="@Icons.Material.Filled.Search" Style="color: #0081EC;" OnClick="@(() => OnSearchClick.InvokeAsync())" />
            </div>
        </div>
    </MudToolBar>
@code {
    [Parameter] public EventCallback OnMenuClick { get; set; }
    [Parameter] public EventCallback OnSearchClick { get; set; }

    private void GoToHome()
    {
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
